# Python cache
__pycache__/
*.pyc

# Environment files
.env

# Logs
*.log

# macOS system files
.DS_Store

# Python virtual environments
venv/
env/

# Spark checkpoint or temp files
*.checkpoint
*.tmp

# Docker
*.dockerignore
docker-compose.override.yml
